h1,h2,h3{
    font-family: 'Gelasio', serif;
}
p, button{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
a{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-decoration: none;
}
*{
    margin: 0;
    padding: 0;
}
.container{
    position: relative;
    width: 1150px;
    margin: 0 auto;
    z-index: 10;
}
li{
    list-style: none;
}
header{
    display: flex;justify-content: space-between;
    align-items: center;
}
.header{
    background: url(../img/mainBG.png)center/cover no-repeat rgba(0, 0, 0, 0.3);
    padding: 35px 0 244px;
    position: relative;
}
.header:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.3);
    
}
.logo{
    font-family: 'Ribeye';
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.nav-menu__list{
    display: flex;
    justify-content: space-between;
    width: 470px;
    align-items: center;
}
.nav-menu__link{
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
}
.btn{
    padding: 14px 35px;
    background: #C9453B;
    border-radius: 5px;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    border: none;
}
.title{
    font-weight: 700;
    font-size: 65px;
    line-height: 120%;
    color: #FFFFFF;
    width: 804px;
    margin-top: 200px;
}
.sub-title{
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.6;
    width: 458px;
    margin: 30px 0 40px;
}
.popular{
    padding: 140px 0;
}
.popular__title{
    font-weight: 500;
    font-size: 43px;
    line-height: 140%;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
}
.popular__descrip{
    line-height: 160%;
    text-align: center;
    color: #000000;
    opacity: 0.6;
    width: 735px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.wrapp{
    display: flex;
    justify-content: space-between;
}
.popular__cart{
    width: 360px;
    height: 500px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 0px 6px 35px rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
}
.popular__cart-title{
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #000000;
    margin: 35px 0 10px;
}
.popular__cart-descrip{
    text-align: center;
    color: #000000;
    opacity: 0.6;

}
.special__title{
    font-weight: 500;
    font-size: 43px;
    line-height: 140%;
    color: #000000;
    text-align: center;
}
.special__descrp{
    line-height: 160%;
    text-align: center;
    color: #000000;
    opacity: 0.6;
    width: 656px;
    margin: 20px auto 60px;
}
.special__cart{
    width: 262px;
    height: 334px;
}
.special__cart:first-child{
    opacity: 0.5;
}
.spesial__cart-title{
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #000000;
    margin-top: 20px;
}
.cart__map{
    display: flex;
    align-items: center;
    width: 215px;
    margin-bottom: 8px;
}
.cart__map-icon{
    margin-right: 10px;
}
.cart__map-city{
    font-size: 20px;
    margin-right: 50px;
}
.cart__map-star{
    margin-right: 10px;
}
.special__cart-prise{
    margin-top: 8px;
}
span{
    font-weight: 500;
    line-height: 150%;
    color: #000000;
}