h1,h2,h3{
    font-family: 'Gelasio', serif;
}
p, button{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
a{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-decoration: none;
}
*{
    margin: 0;
    padding: 0;
}
.container{
    position: relative;
    width: 1150px;
    margin: 0 auto;
    z-index: 10;
}
li{
    list-style: none;
}
header{
    display: flex;justify-content: space-between;
    align-items: center;
}
.header{
    background: url(../img/mainBG.png)center/cover no-repeat rgba(0, 0, 0, 0.3);
    padding: 35px 0 244px;
    position: relative;
}
.header:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.3);
    
}
.logo{
    font-family: 'Ribeye';
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.nav-menu__list{
    display: flex;
    justify-content: space-between;
    width: 470px;
    align-items: center;
}
.nav-menu__link{
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
}
.btn{
    padding: 14px 35px;
    background: #C9453B;
    border-radius: 5px;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    border: none;
}
.title{
    font-weight: 700;
    font-size: 65px;
    line-height: 120%;
    color: #FFFFFF;
    width: 804px;
    margin-top: 200px;
}
.sub-title{
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.6;
    width: 458px;
    margin: 30px 0 40px;
}
.popular{
    padding: 140px 0;
}
.popular__title{
    font-weight: 500;
    font-size: 43px;
    line-height: 140%;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
}
.popular__descrip{
    line-height: 160%;
    text-align: center;
    color: #000000;
    opacity: 0.6;
    width: 735px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.wrapp{
    display: flex;
    justify-content: space-between;
}
.popular__cart{
    width: 360px;
    height: 500px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 0px 6px 35px rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
}
.popular__cart-title{
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #000000;
    margin: 35px 0 10px;
}
.popular__cart-descrip{
    text-align: center;
    color: #000000;
    opacity: 0.6;

}
.special__title{
    font-weight: 500;
    font-size: 43px;
    line-height: 140%;
    color: #000000;
    text-align: center;
}
.special__descrp{
    line-height: 160%;
    text-align: center;
    color: #000000;
    opacity: 0.6;
    width: 656px;
    margin: 20px auto 60px;
}
.special__cart{
    width: 262px;
    height: 334px;
}
.special__cart:first-child{
    opacity: 0.5;
}
.spesial__cart-title{
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #000000;
    margin-top: 20px;
}
.cart__map{
    display: flex;
    align-items: center;
    width: 215px;
    margin-bottom: 8px;
}
.cart__map-icon{
    margin-right: 10px;
}
.cart__map-city{
    font-size: 20px;
    margin-right: 50px;
}
.cart__map-star{
    margin-right: 10px;
}
.special__cart-prise{
    margin-top: 8px;
}
span{
    font-weight: 500;
    line-height: 150%;
    color: #000000;
}
.carusel__tab{
    margin: 50px auto 140px;
    width: 392px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.carusel__tab-item{
    width: 75px;
    height: 5px;
    background: rgba(201, 69, 59, 0.1);
    border-radius: 10px;
}
.tab-active{
    width: 75px;
    height: 5px;
    background: #C9453B;
    border-radius: 10px;
}
.blog__title{
    font-size: 43px;
    line-height: 140%;
    text-align: center;
    color: #000000;
}
.blog__subtitle{
    width: 581px;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #000000;
    opacity: 0.6;
    margin: 20px auto 50px;
}
.coments{
    display: flex;
    width: 1125px;
    margin: 0 auto 118px;
}
.coments__main{
    width: 550px;
    margin-right: 35px;
}
.coments__other{
    display: flex;
    flex-direction: column;
}
.coments__main-img{
    max-width: 555px;
}
.coments__main-title{
    font-size: 20px;
    line-height: 160%;
    color: #000000;
    margin: 35px 0px 10px;
}
.coments__main-descrp{
    width: 470px;
    font-size: 18px;
    line-height: 160%;
    color: #000000;
    opacity: 0.6;
}
.coments__main-email{
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
    margin-top: 10px;
}
.coments__other-item{
    width: 550px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.coments__other-img{
    min-width: 283px;
    margin-right: 27px;
}
.coments__other-wrap{
    margin: 35px 0;
}
.coments__other-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
}
.coments__other-descrpt{
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #000000;
    opacity: 0.6;
    margin: 10px 0px 10px;
}
.coments__other-email{
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
    opacity: 0.8;
}
footer{
    background: rgba(38, 148, 153, 0.04);
    padding: 70px 0px 78px;
}
.footer{
    display: flex;
}
.black__logo{
    letter-spacing: 0.06em;
    color: #000000;
}
.contact__wrapper{
    margin: 40px 0px 20px;
}
.contact__descrt,.contact__email{
    line-height: 175%;
    letter-spacing: 0.06em;
    color: #000000;
}
.contact__item{
    margin-right: 27px;
}
.footer__link{
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.06em;
    color: #000000;
}
.links__servise{
    margin: 0px 121px 0px 107px;
}
.links__legal{
    margin-right: 133px;
}
.col__1{
    display: flex;
    flex-direction: column;
}
.footer__link{
    margin-bottom: 20px;
}
.subscribe__title{
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.06em;
    color: #000000;
    margin-bottom: 42px;
}
form{
    display: flex;
}
input{
    width: 195px;
    height: 31px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 10px 0px 10px 20px;
    margin-right: 35px;
}

